node_modules
.env.prod
.venv
.xml
.idea
chat_bot.db
chat_bot.db-wal
chat_bot.db-shm
cloud_music_cookies.cookie
chat_history.json
/src/music/qrcode.png
/chat.db
/chat_bot.db-wal
/chat_bot.db-shm
error.log
bili.cookie
*.log
.mp4
/bili.cookie
/src/configs/api_config.py
