nonebot2
nonebot_adapter_qq
nonebot2[fastapi]
nonebot2[httpx]
nonebot2[websockets]

sqlalchemy~=2.0.34
autopep8
graiax-silkcoder
graiax-silkcoder[ffempeg]
Crypto
fake_useragent
pycryptodome
PyExecJS
gradio_client




requests~=2.32.3
pillow~=10.4.0
yaml~=0.2.5
pyyaml~=6.0.1