nonebot2
nonebot_adapter_qq
nonebot2[fastapi]
nonebot2[httpx]
nonebot2[websockets]

sqlalchemy~=2.0.34
autopep8
graiax-silkcoder[ffmpeg]
Crypto~=1.4.1
graiax-silkcoder
Crypto
fake_useragent
pycryptodome~=3.21.0
PyExecJS~=1.5.1
gradio_client

requests~=2.31.0
pillow
pyyaml
qrcode
