body {
  position: absolute;
  left: -8px;
  top: -8px;
}

@font-face {
  font-family: "Noto Sans SC B";
  src: url("./res/font/NotoSansSC-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans SC";
  src: url("./res/font/NotoSansSC-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SSFangTangTi";
  src: url("./res/font/SSFangTangTi.ttf");
}

.wrapper {
  /* height: 1885px; */
  width: 578px;
  background-color: #2B2A2A;
  position: relative;
  padding: 15px;
  /* box-sizing: border-box; */
}

.main {
  /* height: 1860px; */
  width: 555px;
  background-color: #57595B;
  position: relative;
  border-radius: 10px;
  padding: 10px;

    background-image: repeating-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.12) 0px,
    rgba(255, 255, 255, 0.12) 30px,
    rgba(0, 0, 0, 0) 30px,
    rgba(0, 0, 0, 0) 60px
  );
}

.top-border {
  display: flex;
}

.zx-img {
  height: 155px;
}

.top-title {
  position: relative;
  width: 322px;
}

.zx-title {
  font-family: "SSFangTangTi";
  color: #EEEEEE;
  font-size: 72px;
  position: absolute;
  top: -73px;
  left: 10px;
  text-shadow: 4px 4px 8px #2f1d70;
}



.zx-paragraph {
  font-family: "SSFangTangTi";
  color: #EEEEEE;
  font-size: 42px;
}

.zx-tip {
  color: #EEEEEE;
  font-family: "Noto Sans SC B";
  font-size: 33px;
  position: absolute;
  top: 73px;
  left: 20px;
}

.zx-title-num{
  color: #E4FF30;
  font-size: 1.3em;   /* 比父元素大一些；也可以写 28px 这种绝对值 */
  font-weight: 700;   /* 可选：更醒目 */
  line-height: 1;     /* 可选：避免数字把行高撑得太怪 */

}

.top-date {
  background-color: #E4FF30;
  border-radius: 10px;
  height: 108px;
  width: 120px;
  margin-top: 30px;
  margin-left: 35px;
  position: relative;
  box-shadow: 4px 4px 8px #000000;
}

.top-date-week {
  color: #4D2FB2;
  font-size: 35px;
  font-family: "Noto Sans SC B";
  position: absolute;

  left: 26px;
  top: -34px;
}

.top-date-date {
  color: #E4FF30;
  font-family: "Noto Sans SC B";
  font-size: 12px;
  background-color: #4D2FB2;
  margin-top: 50px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-date-cn {
  font-family: "Noto Sans SC B";
  color: #4D2FB2;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
}

.match-img{
  border-radius: 20px;
  border: #E4FF30 8px solid;
  margin-top: 8px;
  margin-bottom: 12px;
  /*height: 100px;*/
  /*box-shadow: 2px 2px 4px #000000;*/
}

.one-border {
  display: flex;
  height: 320px;
  margin-top: 50px;
  font-family: "Noto Sans SC";
}

.moyu-border {
  font-family: "Noto Sans SC";
  height: 240px;
  padding: 15px 10px;
  border-radius: 10px;
  border: #2B2A2A 3px solid;
  width: 157px;
  position: relative;
}

.moyu-title {
  border: #2B2A2A 2px solid;
  position: absolute;
  background-color: #EDE4C2;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  color: #15173D;
  padding: 5px 10px;
  font-size: 23px;
  font-family: "Noto Sans SC B";
  top: -19px;
  left: 37px;
  display: flex;
}

.moyu-title-sub {
  border: #2B2A2A 2px solid;
  position: absolute;
  background-color: #EDE4C2;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  color: #15173D;
  padding: 5px 10px;
  font-size: 23px;
  font-family: "Noto Sans SC B";
  top: -19px;
  right: 37px;
  display: flex;
}

.title-img {
  height: 30px;
  width: 30px;
  margin-right: 5px;
}

.title-img-salmon {
  height: 25px;
  width: 77px;
  margin-right: 5px;
}

.title-img-weapon {
  height: 30px;
  width: 30px;
  margin-right: 2px;
}

.moyu-inner {
  display: flex;
  line-height: 15px;
  font-size: 13px;
}

.moyu-day {
  width: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.moyu-day-name {
  color: #2B2A2A;
  background-color: #daf8ff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55px;
}

.bili-border {
  font-family: "Noto Sans SC";
  border: #2B2A2A 3px solid;
  height: 240px;
  margin-left: 15px;
  padding: 15px 10px 15px 40px;
  border-radius: 10px;
  width: 300px;
  position: relative;
  font-size: 13px;
}

.bili-text {
  display: flex;
  align-items: center;
  line-height: 5px;
  margin-top: 7px;
  margin-bottom: 6px;
}

.hot-text {
  background-color: #b5deef;
  height: 17px;
  width: 17px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  border-radius: 2px;
}

.two-border {
  border: #2B2A2A 3px solid;
  width: 512px;
  height: 370px;
  border-radius: 10px;
  position: relative;
  padding: 17px;
  font-family: "Noto Sans SC";
  background-color: #57595B;
}

.two-border-border  {
  float: left;
}


.anime-border {
  height: 170px;
  width: 105px;
  font-size: 10px;
  font-size: 13px;
  text-align: center;
  line-height: 3px;
  float: left;
  margin: 8px 10px;
  line-height: 15px;
}

.anime-text {
  overflow: hidden;
  margin-top: 3px;
  height: 48px;
}

.anime-img {
  height: 130px;
  width: 90px;
}

.three-border-regular {
  border: #2B2A2A 3px solid;
  width: 552px;
  border-radius: 10px;
  position: relative;
  /* float: left; */
  padding: 17px;
  font-family: "Noto Sans SC";
  margin-top: 46px;
  background-color: #2c860a;
  font-size: 15px;
  box-sizing: border-box;

    background-image:
    radial-gradient(circle at 10% 12%, rgba(0,0,0,.22) 0 70px, transparent 72px),
    radial-gradient(circle at 52% 18%, rgba(0,0,0,.16) 0 55px, transparent 57px),
    radial-gradient(circle at 85% 20%, rgba(0,0,0,.18) 0 60px, transparent 62px),

    radial-gradient(circle at 40% 55%, rgba(0,0,0,.20) 0 85px, transparent 87px),
    radial-gradient(circle at 92% 52%, rgba(0,0,0,.15) 0 50px, transparent 52px),

    radial-gradient(circle at 22% 88%, rgba(0,0,0,.17) 0 65px, transparent 67px),
    radial-gradient(circle at 82% 88%, rgba(0,0,0,.19) 0 78px, transparent 80px);
}

.three-border-bankara {
  border: #2B2A2A 3px solid;
  width: 552px;
  border-radius: 10px;
  position: relative;
  /* float: left; */
  padding: 17px;
  font-family: "Noto Sans SC";
  margin-top: 46px;
  background-color: #e44501;
  font-size: 15px;
  box-sizing: border-box;

  background-image:
    radial-gradient(circle at 10% 12%, rgba(0,0,0,.22) 0 70px, transparent 72px),
    radial-gradient(circle at 28% 30%, rgba(0,0,0,.14) 0 45px, transparent 47px),
    radial-gradient(circle at 52% 18%, rgba(0,0,0,.16) 0 55px, transparent 57px),

    radial-gradient(circle at 40% 55%, rgba(0,0,0,.20) 0 85px, transparent 87px),
    radial-gradient(circle at 92% 52%, rgba(0,0,0,.15) 0 50px, transparent 52px),


    radial-gradient(circle at 55% 84%, rgba(0,0,0,.12) 0 48px, transparent 50px),
    radial-gradient(circle at 82% 88%, rgba(0,0,0,.19) 0 78px, transparent 80px);
}

.three-border-coop {
  border: #2B2A2A 3px solid;
  width: 552px;
  border-radius: 10px;
  position: relative;
  /* float: left; */
  padding: 17px;
  font-family: "Noto Sans SC";
  margin-top: 46px;
  background-color: #b19500;
  font-size: 15px;
  box-sizing: border-box;

  background-image:
    radial-gradient(circle at 15% 20%, rgba(0,0,0,.25) 0 70px, transparent 72px),
    radial-gradient(circle at 80% 30%, rgba(0,0,0,.18) 0 55px, transparent 57px),
    radial-gradient(circle at 70% 85%, rgba(0,0,0,.22) 0 80px, transparent 82px);
}

.three-border {
  border: #2B2A2A 3px solid;
  width: 552px;
  border-radius: 10px;
  position: relative;
  /* float: left; */
  padding: 17px;
  font-family: "Noto Sans SC";
  margin-top: 46px;
  background-color: #e44501;
  font-size: 15px;
  box-sizing: border-box;
}


.four-border {
  border: #2B2A2A 3px solid;
  width: 512px;
  border-radius: 10px;
  position: relative;
  /* float: left; */
  padding: 17px;
  font-family: "Noto Sans SC";
  margin-top: 46px;
  background-color: #57595B;
  font-size: 15px;
}

.five-border {
  border: #2B2A2A 3px solid;
  width: 520px;
  border-radius: 10px;
  position: relative;
  /* float: left; */
  padding: 13px;
  font-family: "Noto Sans SC";
  margin-top: 46px;
  font-size: 19px;
  color: #2B2A2A;
  font-weight: 600;
  background-color: #57595B;
}

.normal-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* width: 450px; */
}

ul {
  list-style-position: inside; /* 将项目符号放在内容内部 */
  /* width: 450px; */
}

li::marker {
  display: inline-block; /* 确保项目符号可见 */
}
